<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config/>
	
	<mvc:annotation-driven/>
	<mvc:default-servlet-handler/> 
	
	<mvc:resources location="/images/" mapping="/images/**" cache-period="2592000"/>
	<mvc:resources location="/js/" mapping="/js/**" cache-period="2592000"/>
	<mvc:resources location="/css/" mapping="/css/**" cache-period="2592000"/>
	<mvc:resources location="/plus/" mapping="/plus/**" cache-period="2592000"/>
	<mvc:resources location="/matrix/" mapping="/matrix/**" cache-period="2592000"/>
	
	
	<!-- 拦截器 -->
    <mvc:interceptors>  
        <bean class="com.base.interceptor.SystemInterceptor">
			<property name="paramList">
				<list>
					<value>/manageAdminUser/toLogin</value>
					<value>/manageAdminUser/login</value>
					<value>/manageAdminUser/pcrimg</value>
					<value>/weixin/toLogin</value>
					<value>/weixin/login</value>
					<value>/msComposition/yulan</value>
					<value>/weixin/access</value>
					<value>/weixin/test</value>
					<value>/yyUser/toReg</value>
					<value>/yyUser/reg</value>
					<value>/yyCourse/courseNotify</value>
				</list>
			</property>
        </bean>  
    </mvc:interceptors>  
    
	<!-- 把标记了@Controller注解的类转换成bean -->
	<context:component-scan base-package="com.**.controller" />
<!-- 	<context:component-scan base-package="com.base.controller.*controller" /> -->
	<!-- 启动springMvc注解功能，完成请求和注解POJO的映射 -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
	<!-- file upload start -->
	<bean id="multipartResolver"
           class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
           <!-- 设置上传文件大小的参数 500M -->
        <property name="maxUploadSize" value="524288000"/>
    </bean>
    <!-- file upload end -->
	<!-- InternalResourceViewResolver默认的就是JstlView所以这里就不用配置viewClass了 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/WEB-INF/page" p:suffix=".jsp" />	
</beans> 